.border-lg {
  border-width:9rem !important;
  }

.globe {
	width:400px !important;
	height:400px !important;
}

.items {

	margin-left:11rem !important;
	margin-right:11rem !important;
}

.items img{
	padding-top: 7px;
}
.carousel-control-prev {
	width:100px !important;
}
.carousel-control-next {
	width:100px !important;
}

.carousel-item {
	text-decoration: none !important;
}
